<div class="container">
    <div class="row">
        <div class="col">
            <h2>Hola {{usuario}}! Aquí próximamente encontrarás las Novedades...</h2>
            <a href="/admin/login" class="btn btn-danger">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
        </div>

    </div>
</div>



