.header{
    text-align: center;
    padding: 20px;
   /*  position: fixed;
    z-index: 100px; */
}

.header h1{
   position: static;
}

.container{
    margin: 200px auto;
    background:#3271b8;
    padding: 30px;
    border-radius: 10px;
    max-width: 960px;
    
}

